Checks:          'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: true
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google
CheckOptions:
  - key:             modernize-use-trailing-return-type
    value:           '0'
  - key:             cppcoreguidelines-pro-bounds-pointer-arithmetic
    value:           '0'
  - key:             cppcoreguidelines-pro-bounds-constant-array-index
    value:           '0'
