[submodule "base/src/third_party/googletest"]
	path = base/src/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "base/src/third_party/tinyusb"]
	path = base/src/third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
