[submodule "base/src/third_party/googletest"]
	path = base/src/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "base/src/third_party/tinyusb"]
	path = base/src/third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "base/src/third_party/ArduinoJson"]
	path = base/src/third_party/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "base/src/third_party/FreeRTOS-Kernel"]
	path = base/src/third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
